.jhenery{
   background-color: #fff;
   width: 500px;
margin: auto;
-webkit-box-shadow: 0px 0px 49px -4px rgba(15,15,15,0.73);
-moz-box-shadow: 0px 0px 49px -4px rgba(15,15,15,0.73);
box-shadow: 0px 0px 49px -4px rgba(15,15,15,0.73);
}